@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300&display=swap');
html,header{
    height: 100%;
}
body{
    font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
background-image:url(./butterflies.png);
}
header
{
    background-image: url(./butterflies.png);
    background-position: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1
{
    font-family: 'Lobster', cursive;
    font-size:40pt;
    color: blueviolet;
    text-align:center;
    /*outline: 1px dashed #ccc;*/
    padding: 0.25em;
    text-shadow: 2px 2px 2px ;
    
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h2{
    font-family: 'Lobster', cursive;
    font-size:20pt;
    color: blueviolet;
    text-align:center;
    /*outline: 1px dashed #ccc;*/
    padding: 0.25em;
    background-image: url(./butterflies.png);
    background-position: center;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=Merriweather:wght@300&display=swap');
h3{
    font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
color: blueviolet;
font-size:30pt;
text-align: center;
background-color:#ccc;
}
h4{
    
   width:80%;
   margin: auto;
    color: blueviolet;
    outline: 1px solid #ccc;
    border-radius:20px;
}
   
